<div class="card border-secondary mb-3">
  <div class="card-header">Listado de roles</div>
  <div class="card-body text-secondary">
    <!-- <h5 class="card-title">Listado de roles</h5> -->
    <div class="my-2 text-left">
      <button class="btn btn-outline-primary" type="button" [routerLink]="['/rol/formulario','ins',0]">Nuevo</button>
    </div>

    <div *ngIf="roles?.length==0" class="alert alert-info">
      No se encontraron registros!
    </div>
    <table class="table table-bordered " *ngIf="roles?.length>0">
      <thead class="text-center">
        <th>#</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th></th>
        <th></th>
      </thead>
      <tbody class="text-center col-md-12 mb-4">
        <tr *ngFor="let rol of roles">
          <td>{{rol.rolId}}</td>
          <td>{{rol.rolNombre}}</td>
          <td>{{rol.rolDescripcion}}</td>
          <td>
            <button type="button" name="button" [routerLink]="['/rol/formulario', 'upd' ,rol.rolId]" class="btn btn-outline-secondary btn-sm">Editar</button>
          </td>
          <td>
            <button type="button" name="button" [routerLink]="['/rol/formulario', 'dlt' ,rol.rolId]" class="btn btn-outline-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
